extends layout
block content
  h1 Добро пожаловать!
  hr
  #WhollyInf
    //- img#index_img.box-shadow(src='images/13.jpg', alt='Камера имитации воздействия космического пространства TVAC-1400 (Telstar, Испания)', title='Камера имитации воздействия космического пространства TVAC-1400 (Telstar, Испания)')
    
    p Полностью модернизированный и переоснащенный самым современным испытательным оборудованием наш Испытательный Центр проводит всесторонние испытания, начиная от научных исследований и экспериментов, технологических настроек и проверок, до приемо-сдаточных, предварительных, переодических и других видов испытаний под  контролем представителей Заказчика и ОТК.
    p В нашем центре проходят испытания широкого  спектра различных изделий, разрабатываемых, проектируемых и изготавливаемых в 
      a(href='http://www.rtc.ru', target='_blank') ЦНИИ РТК
      | , а так же аппаратура сторонних Заказчиков - различных фирм и предприятий Санкт-Петербурга и всей России.
    p Многолетний опыт, отработанные методики, современное  испытательное оборудование, уникальные специалисты – вот залог успешного выполнения широкого круга задач, выполняемых нашим Испытательным Центром. Высокий уровень всех проводимых нами работ гарантирован 
      a.first(href='images/sert.jpg') 
        |«Свидетельством об аттестации №572 от 27 апреля 2015 г. выданным Филиалом ФБУ "46 ЦНИИИ МО РФ"».
    p Наш испытательный центр: 
      ul
        li Располагает  широким спектром сертифицированного испытательного оборудования
          | , своевременно проходящего  периодическую аттестацию, а также обеспечено современными средствами контроля и измерений, имеющих свидетельства о поверке.
        li Использует новейшие испытательные системы лучших мировых фирм-производителей  
          a(href='http://www.v-it.com/ru/doma/schunk01.c.59546.ru', target='_blank') VOTSCH
          | , 
          a(href='http://atlas-mts.com/', target='_blank') ATLAS
          | , 
          a(href='http://www.imv-tec.com/', target='_blank') IMV
          | , 
          a(href='http://www.tira-gmbh.de/', target='_blank') TIRA
          | , 
          a(href='http://www.lmsintl.com/', target='_blank') LMS
          | , 
          a(href='http://www.vibrationresearch.com/', target='_blank') Vibration Research
          |  и др.  Все оборудование компьютеризировано и объединено в единую информационную сеть, что в  сочетании с высокоскоростным доступом по оптоволоконной линии предоставляет   нашим клиентам уникальную возможность  проведения испытаний в режиме on-line и обеспечивает высокую интерактивность процесса испытаний.
        li Располагает уникальным комплексом фирмы 
          a(href='http://www.etelstar.com/', target='_blank') TELSTAR
          |  для проведения термовакуумных испытаний, позволяющий  имитировать внешнее воздействие со стороны  космического пространства на аппаратуру в широком диапазоне давлений и температур.
        li Обладает высоким  кадровым потенциалом, имеющим большой опыт проведения различных испытаний и высокую степень специализации  по следующим направлениям: 
          a(href='climatic.pug') климатические 
          | ,
          a(href='mechanic.pug') механические
          | ,
          a(href='vacuum.pug') вакуумные испытания
          | .
        li Использует проверенные и отработанные методики испытаний, опирающиеся на последние версии российских и международных стандартов.
            