extends layout
block content
  h1 Наши контакты
  hr
  #WhollyInf
    table
      tr 
        td
              p
                strong Наш адрес 
              p 194064,  Россия, Санкт-Петербург, Тихорецкий пр. 21
              p
                strong Телефон:
              p
                a(href='tel:+78125524700') +7(812)552-47-00
                | факс: (812) 556-36-92
              p
                strong E-mail:
              p
                a(href='mailto: aprokofyev@rtc.ru')  aprokofyev@rtc.ru
              p
                strong Руководитель: 
              p Начальник испытательного центра ЦНИИ РТК 
                p Прокофьев Антон Владимирович
                a(href='http://www.rtc.ru', target='_blank') http://www.rtc.ru
              hr
              p
                strong Отправить сообщение: 
              p
                form(method='post', encypte='text/plain', action='/mail')  
                  .form-group
                    p Ваш электронный адрес:
                    input#email.form-control(type='email', placeholder='Введите свой Email' )
                    p Ваше сообщение:
                    textarea#Textarea.form-control.noresizea
                    input.btn.btn-default.btn-inverse(type='submit', value='Отправить')
        td
          iframe#index_img(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1993.629759134977!2d30.367748877508866!3d60.02121285751829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696337bf0e89cfb%3A0x7ed0368710cf1687!2z0KLQuNGF0L7RgNC10YbQutC40Lkg0L_RgC4sIDIxLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTk1NDI3!5e0!3m2!1sru!2sru!4v1467033 06943', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')