extends layout
block content
    h1 Услуги
    hr
    #whollyInf
          p Предлагаем всем заинтересованным лицам следующие услуги Испытательного Центра:
            p 1)Проведение исследовательских  и научных работ с имитацией различных условий 	окружающей среды, в т.ч. состояния невесомости
            p 2)Проведение широкого спектра  испытаний  любой сложности и продолжительности: 
              p
                strong
                  a(href='/climatic') Климатические
              p B диапазоне от минус 70°С до +180°С, в условиях повышенной или пониженной влажности  от 10 до 98%, в том числе крупногабаритных изделий    в камере   объемом  3,0 м
                   sup 3
              p
                strong
                  a(href='/mechanic') Механические  
              p Такие как вибропрочность и виброустойчивость, определение резонансных частот, синусоидальная вибрация, виброудар, воздействие линейного ускорения, ударная устойчивость и ударная прочность, одиночный и многократный удар с различными заданными  параметрами.

              p
                strong
                  a(href='/vacuum') Вакуумные   
              p А также термовакуумные. В диапазоне от 1x10
                  sup -7 мм.рт.ст  
                  | до 1,5х10
                  sup 2 мм.рт.ст в сочетании 
                  |с температурой от минус 70 до +150°С
              p
                strong
                  a(href='/climatic') Прочие виды испытаний
            strong Осуществляя широкий спектр испытаний, мы гарантируем  творческий и внимательный подход  к каждому обратившемуся к нам заказчику.